<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reviews bandit (quality classificator)</title>
</head>

<body style="background-color:rgb(193, 193, 193);">
    <td>
        <H1 style="text-align:center">Don't be fooled by fake reviews</H1>
        <p style="text-align:center">
            <img src="static//thief.png" alt="Madrid" style='padding:1px; width: 20%; height: 20%'>
        </p>
        <p style="text-align:center">61% of the reviews published on Amazon are likely to be fake<br>
        There is where our bandit jumps in, using machine learning is able to figure <br>
        out if the products have high or low-quality reviews, of course, you will think<br> 
        that is kind of impossible to be 100% sure if it´s a legit review or not, you<br>
        must not have blind faith in us, after all we are bandits, not heroes.<br> </p>
        </p>
    </td>

    <div style="text-align:center;">
        <form method="POST">
            <label for="Review">Review text:</label>
            <input type="text" name="Review"  id="Review" placeholder = "This is a totally fake review">
            <br>
            <input type="submit" value="Send" />
        </form>
    </div>
    <p style="text-align:center">From Madrid (L) 2022/12/22</p>
</body>

</html>
